body {
  background: rgb(204, 204, 204);
  margin: 0;
  padding: 0;
  font-size: 10px !important
}

html {
  margin: 0;
  padding: 0;
  width: 21cm;
  height: 29.7cm;
  font-size: 8px;
}

.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding: 1cm 1.5cm;
  width: 21cm;
  height: 29.7cm;
  size: 21cm 29.7cm;
}

@media print {
html,body,
  .page {
      margin: 0;
      box-shadow: 0;
      width: 21cm;
      height: 29.7cm;
      size: 21cm 29.7cm;
  }

  #formulir_pengujian_labkon {
  }

  #cetak {
      display: none
  }
}

#logo {
  height: 3cm;
}

.judul {
  text-align: right;
}

.judul p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1.5px
}

.form-group .row {
  margin-bottom: 0;
  padding-bottom: 0
}

.no_right_pad {
  padding-right: 0;
  padding-left: 0
}

.hal_ {
  margin: 0;
  padding: 3px 0 5px 0
}

.form-group {
  margin-top: 0
}

.colon {
  text-align: right;
  margin: 0;
  padding: 0
}

label {
  height: 0;
}

input {
  height: 15px;
  width: 100%
}

.dotted {
  border: 0;
  border-bottom: 1px dotted;
}

.border {
  border-color: black
}

.no_border {
  border: none !important
}

#table_judul {
  border: none;
  /* font-size: 7px */
}

table {
  font-size: 12px
}

.border {
  border-color: black
}

.no_border {
  border: none !important
}